/*! ===== page-not-found ===== */

.wrapper {
  position: relative;
  height: 100%;
  min-height: 768px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: - $footer-height;

  background: #f3f3f5 url(../img/404/bg.jpg) center no-repeat;
  background-size: auto 65%;

  @include media(768) {
    background-size: auto 45%;
  }
  @include media(480) {
    background-size: auto 40%;
  }
  @include media(450) {
    background-position-x: 58%;
    background-size: auto 30%;
  }
  @include media(360) {
    background-position-x: 64%;
    background-size: auto 30%;
  }

  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

.pnf__links {
  position: absolute;
  top: 45%;
  right: 33%;
  text-align: center;

  @include media(1200) {
    right: 25%;
  }
  @include media(900) {
    right: 20%;
  }
  @include media(768) {
    right: 15%;
  }
  @include media(640) {
    right: 10%;
  }
  @include media(480) {
    right: 5%;
  }
}

.pnf__link {
  display: block;
  color: #000;
  text-decoration: underline;
  margin-top: 15px;
}