/*! ===== catalog ===== */
.catalog {
  padding-bottom: 100px;
}

.catalog__sidebar {
  float: left;
  width: 25%;
  padding-right: 30px;

  @include media(992) {
    width: 35%;
  }

  @include media(768) {
    float: none;
    width: 100%;
  }


}

.form_search {
  position: relative;
  margin-top: 40px;

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 24px;
    z-index: 1;
  }
}

.form_search__input {
  position: relative;
  width: 100%;
  padding: 7px 40px 7px 10px;
  background-color: transparent;
  border: 1px solid rgba($black_text, 0.6);
  z-index: 2;
}


/*! ===== categories ===== */
.categories {
  margin-top: 20px;
}

.categories__title {
  padding: 15px 0;
  font: 20px $PTSans-Bold;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.categories__list {

}

.categories__item {

}

.categories__link {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  color: $black-text;
  border-bottom: 1px dotted $black-text;
  
  &:hover {
    background-color: #ccc;
  }
}

.categories__link_active {
  font-family: $PTSans-Bold;
}

.categories__sublist {
  margin-left: 35px;

  @include media(768) {
    display: none;
  }

}

.categories__subitem {
  
}

/*! ===== catalog__products ===== */
.catalog__products {
  float: right;
  width: 75%;

  @include media(992) {
    width: 65%;
  }

  @include media(768) {
    float: none;
    width: 100%;
  }
}

.breadcrumbs {

}

.breadcrumbs__list {
  margin-top: 35px;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin-top: 10px;

  &:not(:first-child):before {
    content: '>';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
  }
}

.breadcrumbs__link {
  display: inline-block;
  margin-right: 40px;
  color: $red_text;
}

.breadcrumbs__link_active {
  color: $black_text;

}

.products__list {
  font-size: 0;
}

.products__item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin-top: 40px;
  font-size: 18px;

  @include media(1270) {
    width: 50%;
  }

  @include media(500) {
    width: 100%;
  }

  .product__img-holder {
    height: 360px;

    @include media(1200) {
      max-width: 250px;
    }

    @include media(992) {
      max-width: 220px;
    }

    @include media(500) {
      max-width: 80%;
    }

    &:hover {
      padding: 20px;
      //height: auto;
      text-align: center;

      .products__img {
        height: 50%;
        position: static;
        top: auto;
        left: auto;
        transform: none;
      }

      .product__info_inner {
        display: block;
      }

    }

    &:hover + .product__info {
      display: none;
    }

  }
}
.products__img {
  max-height: 220px;
  height: 100%;
  //transition: height 0.5s;
}

.products__img_sm {
  height: 30% !important;
}

.product__info_inner {
  display: none;
  text-align: center;

  .product__name {
    font-size: 18px;
  }

  .product__status {
    color: #b9d40f;
  }

  .product__price {
    margin-top: 0;
  }

  .product__button {
    width: 180px;
    height: 35px;
    margin-top: 20px;
    text-align: center;
  }
}

.products__item-form {
  display: none;
  width: 180px;
  margin: auto;
}

.products__item-input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-style: italic;
  border: 1px solid $black_text;
}

.products__item-form button.product__button {
  width: 100%;
  margin-top: 10px;
}


.pagination {
  text-align: center;
}

.pagination__btn {
  display: inline-block;
  margin: 10px 0;
  color: $red_text;
  vertical-align: sub;
}

.pagination__btn_prev {
  margin-right: 30px;
}

.pagination__btn_next {
  margin-left: 30px;
}

.pagination__list {
  display: inline-block;
  font-size: 0;
  //vertical-align: middle;
}

.pagination__item {
  position: relative;
  display: inline-block;
  font-size: 20px;

  &:not(:first-child):before {
    content: '|';
    position: absolute;
    top: 50%;
    left: 0;
    color: rgba($black_text, 0.60);
  }
}

.pagination__link {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 30px 10px 0;
  border-radius: 50%;
  font-size: 20px;
}

.pagination__link_active {
  background-color: #000;
  color: #fff;
}
