// ====== header ======= 
header.header
	._container
		._row

			.logo
				a.logo__link(href="/")
					img.logo__img(src="img/logo_test.png")

			.contacts

				.phones
					ul.phones__list

						li.phones__item
							a.phones__link(href="tel:+30501234567") + 3 (050) 123-45-67


				.social
					ul.social__list

						li.social__item
							a.social__link(href="#")
								span.fa.fa-vk

						li.social__item
							a.social__link(href="#")
								span.fa.fa-twitter

						li.social__item
							a.social__link(href="#")
								span.fa.fa-facebook

						li.social__item
							a.social__link(href="#")
								span.fa.fa-instagram

						li.social__item
							a.social__link(href="#")
								span.fa.fa-pinterest-p