// ====== header =======
nav.menu
	._container
		ul.menu__list
			li.menu__item
				a.menu__link(href="catalog.html" title="") Каталог товаров
			li.menu__item
				a.menu__link(href="study.html" title="") Обучение
			li.menu__item
				a.menu__link(href="objarka.html" title="") Обжарка
			li.menu__item
				a.menu__link(href="cafe.html" title="") Кафе
			li.menu__item
				a.menu__link(href="katering.html" title="") Кейтеринг
			li.menu__item
				a.menu__link(href="coffee-to-go.html" title="") Кофе с собой
			li.menu__item
				a.menu__link(href="blog.html" title="") Статьи
			li.menu__item
				a.menu__link(href="contacts.html" title="") Контакты

	.burger
		.burger__bar.burger__bar_top
		.burger__bar.burger__bar_mid
		.burger__bar.burger__bar_bot
