extends ../main

block vars
	-
		var page_title = "Кофе эспрессо в любых условиях - создана карманная кофеварка Minipresso"
		var active = ""

block content

		// ====== breadcrumbs =======
		.breadcrumbs
			._container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span.breadcrumbs__link.breadcrumbs__link_active= page_title

		// ====== article-page =======
		.article-page
			._container

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article-page__text.article-page__text_left
							img.article-page__img(src="img/articles/article_1.jpg" alt="article_1")
							p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо.
							p А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо.
							p Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе.
							p Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь.

					._row
						.article-page__text.article-page__text_right
							img.article-page__img(src="img/articles/article_2.jpg" alt="article_2")
							p Для этого он всего лишь несколько раз должен сильно, как эспандер, сжать рукой кофейный девайс.
							p Эспрессо-минимашину такого удобного размера и формы всегда можно носить с собой. Она будет актуальна для офисных сотрудников, которые прямо на рабочем месте могут себе приготовить любимый кофе. А людям, отправляющимся в путешествие, вкушая ароматный напиток, приятно будет наслаждаться открывающимися окрестными видами.
							p Внешне кофеварка напоминает термос, крышечка так же, как мы и привыкли, выполняет функцию чашки. Давление, необходимое для приготовления хорошего эспрессо, создается вручную. Путем нескольких нажатий на специальную кнопку. Таким образом, вода проходить сквозь кофе и чудо свершилось.
							br
							p Хороший подарок для истинных кофеманов!


				// ====== blog =======
				section.blog

					.title.article__title.article__title_more также рекомендуем

					article.article
						.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

						.article__date 24 Май, 2017

						._row
							.article__img-holder
								img.article__img(src="img/articles/article_1.jpg" alt="article_1")

							.article__text-holder
								.article__text
									p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
									a.article__readmore(href="#") Читать далее

					article.article
						.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

						.article__date 24 Май, 2017

						._row
							.article__img-holder
								img.article__img(src="img/articles/article_2.jpg" alt="article_2")

							.article__text-holder
								.article__text
									p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
									a.article__readmore(href="#") Читать далее
