extends ../main

block vars
	-
		var page_title = "Статьи"
		var active = "blog"

block content

	.blog-page

		// ====== breadcrumbs =======
		.breadcrumbs
			._container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span.breadcrumbs__link.breadcrumbs__link_active= page_title

		// ====== blog =======
		section.blog
			._container

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_1.jpg" alt="article_1")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="article.html") Читать далее

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_2.jpg" alt="article_2")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="article.html") Читать далее

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_3.jpg" alt="article_3")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="article.html") Читать далее

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_4.jpg" alt="article_4")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="article.html") Читать далее

			// ====== pagination =======
			.pagination

				a.pagination__btn.pagination__btn_prev.fa.fa-angle-double-left.fa-2x(href="#")

				ul.pagination__list
					li.pagination__item
						span.pagination__link.pagination__link_active 1
					li.pagination__item
						a.pagination__link(href="#") 2

				a.pagination__btn.pagination__btn_next.fa.fa-angle-double-right.fa-2x(href="#")