extends ../main

block content

	// ====== slider =======
	.slider
		._container

			.slider__text
				h1.slider__title возьми тепло с собой

				h2.slider__subtitle
					div.slider__subtitle-bold 20 % скидка
					div на кофе с собой


	// ====== products =======
	.products.products_new
		._container

			.title.products__title Новые поступления

			.owl-carousel.products__carousel(data-type="products_new")

				.product
					.product__img-holder
						img(src="img/products/product_1.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_2.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_3.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_4.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн


	// ====== article =======
	.article.article_single
		._container
			._row

				.article_single__img-holder
					img.article_single__img(src="img/main-page-article.jpg")

				.article_single__text-holder
					.article_single__text Неотъемлемой частью нащей жизни является бодрящий напиток под названием кофе. И если задать вопрос: «какой бывает кофе» любому человеку, первый ответ будет «итальянский», второй – «горячий», и последующие: «бразильский, вкусный, с  молоком» и так далее. Существуют разные производители кофе, дешевые и дорогие. Все зависит от происхождения зерна, качества обжарки, упаковки и методов купажирования. Мы привыкли покупать те фирмы, которые слышали и знаем, доверяем им. Но есть производители которые не тратят большие деньги на рекламу, а вкладывают свое времья и труд в качество кофе.Разрезнят несколько типов упаковок и выдов кофе для кофемашин: кофе в зернах, молотый кофе, кофе без кофеина, кофе в чалдах и капсулах, ароматизированный кофе, а также кофейные зерна в шоколаде. Продажа кофе свежей обжарки Mokasol, Molinari, Lavazza, Blaser, Segafredo, Pera, моносорта арабики, спешиалти бленды, кофе робуста. Элитные сорта кофе купить‎ для рожковой кофеварки будет правильным выбором. Наслаждайтесь и покупайте кофе – напиток богов. Мы предлагаем только лучшие сорта кофе, быструю доставку по Киеву и Украине. В интернет-магазине Coffee Shop можно купить кофе оптом и в розницу.


	// ====== brands =======
	.brands
		._container

			.title.brands__title наши бренды

			ul.brands__list
				li.brands__item
					img.brands__img(src="img/brands/lacimbali.png" title="lacimbali")
				li.brands__item
					img.brands__img(src="img/brands/faema.png" title="faema")
				li.brands__item
					img.brands__img(src="img/brands/casadio.png" title="casadio")
				li.brands__item
					img.brands__img(src="img/brands/sanmarco.png" title="sanmarco")
				li.brands__item
					img.brands__img(src="img/brands/elecrtra.png" title="elecrtra")
				li.brands__item
					img.brands__img(src="img/brands/lamarzocco.png" title="lamarzocco")
				li.brands__item
					img.brands__img(src="img/brands/iberital.png" title="iberital")
				li.brands__item
					img.brands__img(src="img/brands/fiorenzato.png" title="fiorenzato")
				li.brands__item
					img.brands__img(src="img/brands/mazzer.png" title="mazzer")
				li.brands__item
					img.brands__img(src="img/brands/sab.png" title="sab")
				li.brands__item
					img.brands__img(src="img/brands/quamar.png" title="quamar")
				li.brands__item
					img.brands__img(src="img/brands/astoria.png" title="astoria")
				li.brands__item
					img.brands__img(src="img/brands/victoria.png" title="victoria")
				li.brands__item
					img.brands__img(src="img/brands/wega.png" title="wega")
				li.brands__item
					img.brands__img(src="img/brands/laspaziale.png" title="laspaziale")
				li.brands__item
					img.brands__img(src="img/brands/nuova.png" title="nuova")
				li.brands__item
					img.brands__img(src="img/brands/sanremo.png" title="sanremo")
				li.brands__item
					img.brands__img(src="img/brands/brasilia.png" title="brasilia")


	// ====== products =======
	.products.products_popular
		._container

			.title.products__title популярные товары

			.owl-carousel.products__carousel(data-type="products_popular")

				.product
					.product__img-holder
						img(src="img/products/product_4.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_5.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_6.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн

				.product
					.product__img-holder
						img(src="img/products/product_1.png")
					.product__info
						.product__name Lavazza молотый
						.product__price 250 грн


	// ====== blog =======
	section.blog
		._container

			article.article
				.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

				.article__date 24 Май, 2017

				._row
					.article__img-holder
						img.article__img(src="img/articles/article_1.jpg" alt="article_1")

					.article__text-holder
						.article__text
							p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
							a.article__readmore(href="#") Читать далее

			article.article
				.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

				.article__date 24 Май, 2017

				._row
					.article__img-holder
						img.article__img(src="img/articles/article_2.jpg" alt="article_2")

					.article__text-holder
						.article__text
							p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
							a.article__readmore(href="#") Читать далее


	// ====== google-map =======
	//.google-map(onMouseLeave="document.querySelector('.google-map__overlay').style.pointerEvents=''")
	//	.google-map__overlay(onClick="style.pointerEvents='none'")
	//	iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39900487.71448589!2d40.60944223142707!3d52.382522441872524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1482606480304" width="100%" height="375" frameborder="0" style="border:0" allowfullscreen)