extends ../main

block vars
	-
		var page_title = "Кейтеринг"
		var active = "katering"

block content

	// ====== slider =======
	.slider
		._container

			.slider__text
				h1.slider__title возьми тепло с собой

				h2.slider__subtitle
					div.slider__subtitle-bold 20 % скидка
					div на кофе с собой

