extends ../main

block vars
	-
		var page_title = "Кейтеринг"
		var active = "katering"

block content

	// ====== katering =======
	.katering

		// ====== breadcrumbs =======
		.breadcrumbs
			._container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span.breadcrumbs__link.breadcrumbs__link_active= page_title


		// ====== about =======
		.katering__about
			._container

				.katering__title Организация и проведение кофе-брейков в Одессе

				._row.katering__text.katering__text_left

					img.katering__text-img(src="img/katering/katering-img-1.jpg" alt="coffee beans")

					p Кофе-брейк в современном деловом обществе практически обязательное мероприятие во время проведений конференций, деловых встреч, совещаний и других корпоративных мероприятий.
					p Заранее сделав у нас заказ на проведение кофе-брейк мероприятия Вы получите гарантированную доставку оговоренного меню, в том числе, Вы можете заказать соответствующую посуду, мебель и остальные, нужные составляющие для организации кофе-брейк перерывов.
					p Кофе-брейк - малый по продолжительности перерыв (20-45 мин.) во время проведения научных семинаров или презентаций. Заказывается у кейтеринг компаний организаторами для придания мероприятию более неформальной обстановки и возможности учавствующих познакомиться поближе и обсудить текущие вопросы и задачи. В большинстве случаев накрывается стол или столы с чашками кофе, возможно чаем, соответственно количества участвующих. Шоколад, сахар, сливки и печенье достаточно часто присутствуют априори. В нашем кофе-брейк меню к чаю или кофе есть, мини-круасаны с фруктовой начинкой, мини-мафины, мини-сендвичи с ветчиной и черри, слойка с яблоками, Фруктовое канапе и другие блюда. В зависимости от пожеланий заказчика в меню могут быть включены спиртные напитки. Организовывая кофе брейк мероприятие Вы гарантировано зарекомендуете себя как отличный руководитель в корпоративной среде, так и покажите пример хорошее тона в бизнес переговорах и семинарах. Наша кейтеринговая компания предлагает весь спектр услуг для организации кофе брейк мероприятий на территории Киева и Киевской области.




				._row.katering__text.katering__text_right

					img.katering__text-img(src="img/katering/katering-img-2.jpg" alt="coffee beans")

					p
						strong Выездной кофе-бар
					p Все большей популярностью как дополнительная услуга при организации кейтеринг мероприятий пользуется выездной кофе-бар.
					p Современный выездной кофе-бар - это профессиональное оборудование позволяющее идеально приготовить свежеобжаренный, элитный кофе специально подобранный под формат Вашего мероприятия. Наши профессиональные бариста* с огромным опытом в обслуживании выездных мероприятий, обрадуют Вас вкуснейшим классическим кофе, а также коктейлями на основе эспрессо. Оборудование, которое мы используем, в руках наших профессионалов позволяет приготовить более четырех чашек в минуту превосходного, свежезаваренного кофе эспрессо.
					p Скорость приготовления позволяет насладиться прекрасным кофе без потери качества при приготовлении и нужна для того, чтобы подать кофе максимально свежим и вкусным.
					p Заказывая у нас услугу выездного кофе-бара для кофе-брейк мероприятия Вы сможете насладиться истинным вкусом элитных сортов правильно приготовленного кофе.


				.katering__contacts
					p Заказать выездные кейтеринг услуги вы можете по телефонам:
					p
						a(href="tel:+380501234567") +38 (050) 123-45-67
						|,&nbsp;&nbsp;
						a(href="tel:+380481234567") +38 (048) 123-45-67
						|, а так же заполнив форму и сы свяжемся с Вами.

				form.katering__form
					.title.katering__form-title Контактная информация

					._row

						.katering__form-left
							label.katering__form-label
								.katering__form-label-text Ваше имя
								input.katering__form-input(type="text" name="name")
							label.katering__form-label
								.katering__form-label-text Телефон
								input.katering__form-input(type="tel" name="phone")
							label.katering__form-label
								.katering__form-label-text Email
								input.katering__form-input(type="email" name="email")
							label.katering__form-label
								.katering__form-label-text Комментарий
								textarea.katering__form-textarea(name="comment")

								button.button.study-form__button(type="submit") Отправить

						.katering__form-right
							img.katering__form-img(src="img/katering/coffee-cup.png" alt="coffee cup")