extends ../main

block vars
	-
		var page_title = "Обжарка"
		var active = "objarka"

block content

	.objarka

		// ====== breadcrumbs =======
		.breadcrumbs
			._container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span.breadcrumbs__link.breadcrumbs__link_active Обжарка

		// ====== about =======
		.objarka__about
			._container

				.objarka__title Обжарка кофе

				._row.objarka__text
					.objarka__text_left
						.objarka__text-block
							p Обжарка кофе – это искусство. Да-да, именно так. Для этого процесса не существует определенного точного рецепта, который позволит достичь максимально подлинного вкуса кофейного напитка. Весь процесс заключается в солидной практике в этом деле.
							p Придерживаясь рекомендаций и используя опыт, можно добиться настоящего вкуса кофе, не похожего ни на один другой.
							p Для обжарки кофейных зерен используют специальную машину, называемую ростер (от англ. to roast – жарить). Выполнена она в виде барабана, в котором происходит активное перемешивание зерен при обжарке.
							p Машина оснащена специальным датчиком, с помощью которого следят за обжаркой.
							p Для пробы зерен существует специальный совок, с помощью которого можно достать обжаренные зерна и проверить их качество. Ни в коем случае нельзя допустить пережарку, так как это придаст кофе горький вкус из-за обугленного сахара, выделяемого при обжарке. По завершении обжарки зерна охлаждают потоком прохладного воздуха.

						.objarka__text-block
							p
								strong Условно обжарку кофейных зерен можно разделить на три этапа:
							p 7-8 минут - На этом этапе кофе засыпают в машину и начинают обжарку. Постепенно кофе начинает терять влагу, высыхая при этом. Температуру обжарки доводят до 170°С. Зерна становятся светло-коричневыми.
							p 9-11 минут - В этом промежутке кофе начинает разбухать, становиться легче и приобретать привычный темно-коричневый цвет. Температура достигает 230°С.
							p 12-13 минут - Завершающий этап обжарки кофе. Тут самое главное его не пережарить. Для этого проводится постоянная проверка качества зерен.

					.objarka__text_right

						.objarka__text-block
							img.objarka__text-img(src="img/objarka/img-intext.jpg" alt="coffee beans")

						.objarka__text-block
							p По завершении обжарки зерна разных этапов обжарки смешивают между собой, многократно дегустируют, добиваясь необходимого вкуса кофе, который приятно радует нас каждое утро.
							p Что же касается наименований степеней обжарки кофейных зерен, то на сегодняшний день не существует четко установленных нормативов. В упрощенном варианте их можно разделить на слабую, среднюю и сильную степени прожарки. Однако ценители кофе выделяют куда больше пунктов и разновидностей обжарки. Давайте рассмотрим наиболее распространенные.

		.objarka__steps

				.objarka__steps-title Степени обжарки

				.objarka__steps-caruosel
					._container
						.owl-carousel(data-type="objarka__steps")

							.objarka__steps-item
								.objarka__steps-holder
									.icon.icon-quotes_big
									.objarka__steps-item-title Легкая степень обжарки
									.objarka__steps-item-text Обжаренные зерна не выделяют растительного масла, имеют светло-коричневый цвет и слабый хлебный аромат.

							.objarka__steps-item
								.objarka__steps-holder
									.icon.icon-quotes_big
									.objarka__steps-item-title Средняя степень обжарки
									.objarka__steps-item-text Кофейные зерна при таком способе обжарки жарятся долго и интенсивно, при этом выделение на поверхности маслянистых веществ не допускается.

							.objarka__steps-item
								.objarka__steps-holder
									.icon.icon-quotes_big
									.objarka__steps-item-title Венская обжарка
									.objarka__steps-item-text При таком способе обжарки из зерен кофе выделяется небольшое количество растительных масел. темно-коричневые пятна.

							.objarka__steps-item
								.objarka__steps-holder
									.icon.icon-quotes_big
									.objarka__steps-item-title Lorem
									.objarka__steps-item-text lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem


		// ====== blog =======
		section.blog
			._container

				.title.blog__title новости из мира кофе

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_1.jpg" alt="article_1")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="#") Читать далее

				article.article
					.title.article__title Покупайте сейчас со скидкой более 100 видов кофе!

					.article__date 24 Май, 2017

					._row
						.article__img-holder
							img.article__img(src="img/articles/article_2.jpg" alt="article_2")

						.article__text-holder
							.article__text
								p Не секрет, что есть масса людей, которые не то что день, а даже несколько часов не могут прожить без кофе эспрессо. А это значит, что они стали заложниками кофе-машин, будь-то на работе или дома. И наверно именно для таких людей китайские разработчики из Гонконга предлагают свою новинку - карманный кофейный девайс. Аналогичное термосу устройство, получившее название Minipresso способно самостоятельно сварить крепкий бодрящий эспрессо. Процесс стационарного приготовления этого вида кофе заключается в следующем: горячую воду, разогретую до 90°, пропускают под давлением в девять атмосфер через фильтр с молотым кофе. Именно для этого и были созданы специальные кофе-машины, выдерживающие такой напор. Но теперь решение этих проблем может взять на себя мобильная кофеварка Minipresso. А необходимое давление для приготовления кофе эспрессо создаст сам пользователь...
								a.article__readmore(href="#") Читать далее
