extends ../main
block vars
	- var page_title = "Обучение"

block content

	.study

	// ====== breadcrumbs =======
	.breadcrumbs
		._container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Обучение

	// ====== study__slider =======
	.study__slider

		._container

			h1.study__title КУРСЫ БАРИСТА В ОДЕССЕ – ВАШ ПУТЬ К УСПЕХУ!

			h2.study__subtitle Записаться на курсы бариста в Украине можно прямо сейчас, заполнив форму ниже!

			a.study__scroll(href="#" data-scroll) Записаться на курс

			.study__text
				._row
					.study__text_left
						p
						p

					.study__text_right
						p
						p

	// ====== feat =======
	.feat
		._container

			.feat__title Чему вы научитесь за это время?

			ul.feat__list

				li.feat__item
					.icon.icon-coffeebeans
					.feat__item-title История кофе
					.feat__item-text Происхождение кофе; этапы употребления кофе; разновидности зерен кофе Арабика, Робуста, Либерика, Эксцельза.

				li.feat__item
					.icon.icon-cupcoffee
					.feat__item-title От зерна к чашке
					.feat__item-text Сбор урожая; этапы обработки кофе; обжарка кофе; помол кофе; методы приготовления.

				li.feat__item
					.icon.icon-kettle
					.feat__item-title Приготовление кофе
					.feat__item-text Техника и правила приготовления эспрессо; техника и правила взбивания молока; правила дегустации кофе.

				li.feat__item
					.icon.icon-cupheart
					.feat__item-title Latte-Art практика
					.feat__item-text Особенности и важность Latte-Art; Отработка разных стилей рисования на кофе; рисование топингам и корицей.

				li.feat__item
					.icon.icon-coffeepot
					.feat__item-title Барное оборудование
					.feat__item-text строение кофе-машины; настройка и уход за кофе-машиной; как работать с кофе-молкой.

				li.feat__item
					.icon.icon-lupeup
					.feat__item-title Повышение продаж
					.feat__item-text психология общения с гостями; подбор персонала; различные типы покупателей и взаимодействие с ними.


	// ====== study-form-holder =======
	.study-form-holder
		form.study-form
			.study-form__title Записаться на курс
			input.study-form__input(type="text" placeholder="Ваше имя")
			input.study-form__input(type="tel" placeholder="Телефон")
			input.study-form__input(type="email" placeholder="Email")
			textarea.study-form__textarea(name="comment" placeholder="Комментарий")
			button.study-form__button(type="submit") Записаться на курс