extends ../main

block vars
	-
		var page_title = "Обучение"
		var active = "study"

block content

	.study

	// ====== breadcrumbs =======
	.breadcrumbs
		._container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item
					span.breadcrumbs__link.breadcrumbs__link_active Обучение

	// ====== study__slider =======
	.study__slider

		._container

			h1.study__title КУРСЫ БАРИСТА В ОДЕССЕ – ВАШ ПУТЬ К УСПЕХУ!

			h2.study__subtitle Записаться на курсы бариста в Украине можно прямо сейчас, заполнив форму ниже!

			a.study__btn-scroll(href="#study-form" data-scroll) Записаться на курс

	.study__text
		._container
			._row
				.study__text_left
					p Бариста – это профессия вашей мечты? Мы вас прекрасно понимаем!
					p Мы научим вас всему, что должен знать и уметь профессиональный бариста. Курсы проводятся в г. Одесса в течение четырёх дней, поэтому вы сможете приехать из любого города Украины и пройти обучение у нас.
					p Особенности курса бариста в Одессе:
					p Тренер – мастер-бариста Иванов Иван, опыт работы – 5 года. Ученик легендарного французского мастера кофе Жульена Лорана, призёр чемпионатов среди барист города Киева.
					p Продолжительность курсов бариста в Украине b52 – 4 дня (каждый день по 3 часа, итого 12 часов).
					p 10 часов из 12 посвящены практическим занятиям. В течение этого времени вы приготовите около 100 чашек кофе, 23 кофейных напитка и множество алкогольных коктейлей на основе кофе! Современная методика обучения позволит в индивидуальной форме передать Вам все наши знания и умения, за короткий промежуток времени и реализавать Ваши цели и желания!

				.study__text_right
					p Порядок обучения рисование на кофе
					p Первый день в школе бариста в Одессе – изучение истории кофейной культуры. Вы узнаете, что такое кофе, как оно появилось и как популяризировалось. Познакомитесь с существующими сортами кофе, их различиями и особенностями. Также в течение первого дня учёбы предусмотрено приготовление четырёх основных кофейных напитков.
					p Второй и третий дни посвящены обучению латте-арт. В течение этих двух дней вы приготовите множество кофейных напитков, а затем будете учиться рисовать на них!
					p Курсы рисования на кофе – важнейшая часть обучения.Четвёртый день посвящён проверке полученных практических и теоретических знаний. На экзамене будут оценены знания, полученные в рамках курса.
					p По завершению обучения выдается сертификат об окончании уроков бариста! В Киеве, Одессе и по всей Украине вы сможете использовать полученный сертификат как гарантию полученных знаний.
					p Будем рады передать Вам свои знания и умения!


	// ====== feat =======
	.feat
		._container

			.feat__title Чему вы научитесь за это время?

			ul.feat__list

				li.feat__item
					.icon.icon-coffeebeans
					.feat__item-title История кофе
					.feat__item-text Происхождение кофе; этапы употребления кофе; разновидности зерен кофе Арабика, Робуста, Либерика, Эксцельза.

				li.feat__item
					.icon.icon-cupcoffee
					.feat__item-title От зерна к чашке
					.feat__item-text Сбор урожая; этапы обработки кофе; обжарка кофе; помол кофе; методы приготовления.

				li.feat__item
					.icon.icon-kettle
					.feat__item-title Приготовление кофе
					.feat__item-text Техника и правила приготовления эспрессо; техника и правила взбивания молока; правила дегустации кофе.

				li.feat__item
					.icon.icon-cupheart
					.feat__item-title Latte-Art практика
					.feat__item-text Особенности и важность Latte-Art; Отработка разных стилей рисования на кофе; рисование топингам и корицей.

				li.feat__item
					.icon.icon-coffeepot
					.feat__item-title Барное оборудование
					.feat__item-text строение кофе-машины; настройка и уход за кофе-машиной; как работать с кофе-молкой.

				li.feat__item
					.icon.icon-lupeup
					.feat__item-title Повышение продаж
					.feat__item-text психология общения с гостями; подбор персонала; различные типы покупателей и взаимодействие с ними.


	// ====== study-form-holder =======
	.study-form-holder
		form.study-form#study-form

			.title.study-form__title Записаться на курс

			label.study-form__label
				.study-form__label-text Ваше имя
				input.study-form__input(type="text" name="name" placeholder="")

			label.study-form__label
				.study-form__label-text Телефон
				input.study-form__input(type="tel" name="phone" placeholder="")

			label.study-form__label
				.study-form__label-text Email
				input.study-form__input(type="email" name="email" placeholder="")

			label.study-form__label
				.study-form__label-text Комментарий
				textarea.study-form__textarea(name="comment" placeholder="")

			button.study-form__button(type="submit") Записаться на курс

		img.study-form-img.study-form-img__cup(src="img/study/coffee-cup.png" alt="coffee cup")
		img.study-form-img.study-form-img__beans(src="img/study/coffee-beans.jpg" alt="coffee beans")