// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-big-name: 'arrow-left_big';
$arrow-left-big-x: 188px;
$arrow-left-big-y: 57px;
$arrow-left-big-offset-x: -188px;
$arrow-left-big-offset-y: -57px;
$arrow-left-big-width: 37px;
$arrow-left-big-height: 69px;
$arrow-left-big-total-width: 239px;
$arrow-left-big-total-height: 233px;
$arrow-left-big-image: '../img/spriteIcons.png';
$arrow-left-big: (188px, 57px, -188px, -57px, 37px, 69px, 239px, 233px, '../img/spriteIcons.png', 'arrow-left_big', );
$arrow-right-big-name: 'arrow-right_big';
$arrow-right-big-x: 0px;
$arrow-right-big-y: 164px;
$arrow-right-big-offset-x: 0px;
$arrow-right-big-offset-y: -164px;
$arrow-right-big-width: 37px;
$arrow-right-big-height: 69px;
$arrow-right-big-total-width: 239px;
$arrow-right-big-total-height: 233px;
$arrow-right-big-image: '../img/spriteIcons.png';
$arrow-right-big: (0px, 164px, 0px, -164px, 37px, 69px, 239px, 233px, '../img/spriteIcons.png', 'arrow-right_big', );
$coffeebeans-name: 'coffeebeans';
$coffeebeans-x: 0px;
$coffeebeans-y: 50px;
$coffeebeans-offset-x: 0px;
$coffeebeans-offset-y: -50px;
$coffeebeans-width: 54px;
$coffeebeans-height: 54px;
$coffeebeans-total-width: 239px;
$coffeebeans-total-height: 233px;
$coffeebeans-image: '../img/spriteIcons.png';
$coffeebeans: (0px, 50px, 0px, -50px, 54px, 54px, 239px, 233px, '../img/spriteIcons.png', 'coffeebeans', );
$coffeepot-name: 'coffeepot';
$coffeepot-x: 188px;
$coffeepot-y: 0px;
$coffeepot-offset-x: -188px;
$coffeepot-offset-y: 0px;
$coffeepot-width: 51px;
$coffeepot-height: 52px;
$coffeepot-total-width: 239px;
$coffeepot-total-height: 233px;
$coffeepot-image: '../img/spriteIcons.png';
$coffeepot: (188px, 0px, -188px, 0px, 51px, 52px, 239px, 233px, '../img/spriteIcons.png', 'coffeepot', );
$cupcoffee-name: 'cupcoffee';
$cupcoffee-x: 0px;
$cupcoffee-y: 109px;
$cupcoffee-offset-x: 0px;
$cupcoffee-offset-y: -109px;
$cupcoffee-width: 54px;
$cupcoffee-height: 50px;
$cupcoffee-total-width: 239px;
$cupcoffee-total-height: 233px;
$cupcoffee-image: '../img/spriteIcons.png';
$cupcoffee: (0px, 109px, 0px, -109px, 54px, 50px, 239px, 233px, '../img/spriteIcons.png', 'cupcoffee', );
$cupheart-name: 'cupheart';
$cupheart-x: 42px;
$cupheart-y: 164px;
$cupheart-offset-x: -42px;
$cupheart-offset-y: -164px;
$cupheart-width: 42px;
$cupheart-height: 55px;
$cupheart-total-width: 239px;
$cupheart-total-height: 233px;
$cupheart-image: '../img/spriteIcons.png';
$cupheart: (42px, 164px, -42px, -164px, 42px, 55px, 239px, 233px, '../img/spriteIcons.png', 'cupheart', );
$kettle-name: 'kettle';
$kettle-x: 74px;
$kettle-y: 0px;
$kettle-offset-x: -74px;
$kettle-offset-y: 0px;
$kettle-width: 52px;
$kettle-height: 54px;
$kettle-total-width: 239px;
$kettle-total-height: 233px;
$kettle-image: '../img/spriteIcons.png';
$kettle: (74px, 0px, -74px, 0px, 52px, 54px, 239px, 233px, '../img/spriteIcons.png', 'kettle', );
$lupa-name: 'lupa';
$lupa-x: 188px;
$lupa-y: 131px;
$lupa-offset-x: -188px;
$lupa-offset-y: -131px;
$lupa-width: 24px;
$lupa-height: 25px;
$lupa-total-width: 239px;
$lupa-total-height: 233px;
$lupa-image: '../img/spriteIcons.png';
$lupa: (188px, 131px, -188px, -131px, 24px, 25px, 239px, 233px, '../img/spriteIcons.png', 'lupa', );
$lupeup-name: 'lupeup';
$lupeup-x: 131px;
$lupeup-y: 0px;
$lupeup-offset-x: -131px;
$lupeup-offset-y: 0px;
$lupeup-width: 52px;
$lupeup-height: 54px;
$lupeup-total-width: 239px;
$lupeup-total-height: 233px;
$lupeup-image: '../img/spriteIcons.png';
$lupeup: (131px, 0px, -131px, 0px, 52px, 54px, 239px, 233px, '../img/spriteIcons.png', 'lupeup', );
$quotes-big-name: 'quotes_big';
$quotes-big-x: 0px;
$quotes-big-y: 0px;
$quotes-big-offset-x: 0px;
$quotes-big-offset-y: 0px;
$quotes-big-width: 69px;
$quotes-big-height: 45px;
$quotes-big-total-width: 239px;
$quotes-big-total-height: 233px;
$quotes-big-image: '../img/spriteIcons.png';
$quotes-big: (0px, 0px, 0px, 0px, 69px, 45px, 239px, 233px, '../img/spriteIcons.png', 'quotes_big', );
$icons-width: 239px;
$icons-height: 233px;
$icons-image: '../img/spriteIcons.png';
$icons-sprites: ($arrow-left-big, $arrow-right-big, $coffeebeans, $coffeepot, $cupcoffee, $cupheart, $kettle, $lupa, $lupeup, $quotes-big, );
$icons: (239px, 233px, '../img/spriteIcons.png', $icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
