/*! ===== footer styles ===== */

footer.footer {
	background-color: $brown;
}

.footer_404 {
  position: relative;
  //height: $footer-height;
}

.bottom-line {
  position: relative;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 12px;
}

.copyright {
  float: left;
  padding-top: 5px;

  @include media(480) {
    float: none;
    text-align: center;
  }
}

.copyright__text {
}

.skylogic {
  float: right;

  @include media(480) {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
}

.skylogic__text {
  display: inline-block;
  vertical-align: middle;
}

.skylogic__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.skylogic__img {

}